@model ModelEmpleadosOficio

@{
    ViewData["Title"] = "EmpleadosOficio";
    int numRegistros = 0;
    int numPagina = 1;
    string oficio = "";
    if (ViewData["REGISTROS"] != null)
    {
        numRegistros = (int)ViewData["REGISTROS"];
        oficio = ViewData["OFICIOS"].ToString();
    }
}

<h1>EmpleadosOficio</h1>

<form method="post">
    <label>Introduzca oficio: </label>
    <input type="text" name="oficio" class="form-control" />
    <button class="btn btn-info mt-3">Buscar Empleados</button>
</form>

@if (Model != null)
{
    <ul class="list-group list-group-horizontal">
        @for (int i = 1; i <= numRegistros; i += 2)
        {
            <li class="list-group-item">
                <a class="btn btn-secondary" asp-controller="Paginacion" asp-action="EmpleadosOficioOut" asp-route-posicion="@i" asp-route-oficio="@oficio"> @numPagina</a>
            </li>
            numPagina += 1;
        }
    </ul>

    <table class="table table-success">
        <thead>
            <tr>
                <th>Id</th>
                <th>Apellido</th>
                <th>Oficio</th>
                <th>Salario</th>
                <th>Id Dept</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Empleado emp in Model.Empleados)
            {
                <tr>
                    <td>@emp.IdEmpleado</td>
                    <td>@emp.Apellido</td>
                    <td>@emp.Oficio</td>
                    <td>@emp.Salario</td>
                    <td>@emp.IdDepartamento</td>
                </tr>
            }
        </tbody>
    </table>

}
