@model List<VistaDepartamento>

@{
    ViewData["Title"] = "PaginarGrupo";
    int numPagina = 1;
    int numRegistros = (int)ViewData["REGISTROS"];
}

<h1>PaginarGrupo</h1>

<ul class="list-group list-group-horizontal">
    @for(int i = 1; i <= numRegistros; i+=1){
        <li class="list-group-item">
            <a asp-controller="Paginacion" asp-action="PaginarGrupo" asp-route-posicion="@i">Página @numPagina</a>
        </li>
        numPagina += 1;
    }
</ul>

<table class="table">
    <thead>
        <tr>
            <th>Posicion</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Localidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach(VistaDepartamento dept in Model){
            <tr>
                <td>@dept.Posicion</td>
                <td>@dept.IdDepartamento</td>
                <td>@dept.Nombre</td>
                <td>@dept.Localidad</td>
            </tr>
        }
        
    </tbody>
</table>

